agno
mcp
openai
python-dotenv
requests
pytz
crewai
ollama
langgraph 
langchain 
litellm 
langchain-community 
langchain_openai
langchain-chroma
geopy
langchain-ollama
autogen
pymupdf
pypdf
streamlit
faiss-cpu
deepeval
gradio
uuid
datetime
crewai-tools[mcp]
fastmcp
agentops
docling
asyncio
langchain-mcp-adapters 
langgraph 
langsmith
tiktoken